<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CPECentral.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CPECentral.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <CPECentral.Properties.Settings>
      <setting name="LastUserName" serializeAs="String">
        <value>adam</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>150, 150</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1000, 700</value>
      </setting>
      <setting name="MainFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="PreferredNcLanguage" serializeAs="String">
        <value>Heidenhain</value>
      </setting>
      <setting name="LastViewedPartId" serializeAs="String">
        <value>0</value>
      </setting>
    </CPECentral.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="CPECentralEntities"
         connectionString="metadata=res://*/CPECentralModel.csdl|res://*/CPECentralModel.ssdl|res://*/CPECentralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CPECentral;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <CPECentral.Properties.Settings>
      <setting name="ImageFileExtensions" serializeAs="String">
        <value>.tif|.tiff|.png|.bmp|.jpeg|.jpg</value>
      </setting>
      <setting name="TextFileExtensions" serializeAs="String">
        <value>.txt|.h|.nc</value>
      </setting>
      <setting name="DrawingFileExtensions" serializeAs="String">
        <value>.pdf|.iges|.igs|.dxf|.dwg|.stp|.step|.x_t</value>
      </setting>
      <setting name="ServerScanDirectory" serializeAs="String">
        <value>I:\Drawing Files</value>
      </setting>
      <setting name="SharedAppDir" serializeAs="String">
        <value>I:\Central\</value>
      </setting>
      <setting name="TurningProgramHeader" serializeAs="String">
        <value>%
:{prog}(DWG.{dwg} VER.{ver} OP.{op})

(CUST.{cust})
(NAME.{name})

</value>
      </setting>
    </CPECentral.Properties.Settings>
  </applicationSettings>
</configuration>