<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CPECentral.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <CPECentral.Properties.Settings>
      <setting name="LastUserName" serializeAs="String">
        <value>adam</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>150, 150</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>1000, 700</value>
      </setting>
      <setting name="MainFormState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </CPECentral.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="CPECentralEntities"
         connectionString="metadata=res://*/CPECentralModel.csdl|res://*/CPECentralModel.ssdl|res://*/CPECentralModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=CPECentral;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>