<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NcCommunicator.Properties.Settings.CPECentralConnectionString"
            connectionString="Data Source=SJCSRV1;Initial Catalog=CPECentral;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>